@{ViewBag.Title = "Index";}
<h2>Hopper Info</h2>
<link href="/Content/chart.css" rel="stylesheet"/><script src="http://d3js.org/d3.v3.js"></script>
<script src="@Url.Content("/scripts/chart1.js")" type="text/javascript"></script>
<script type="text/javascript">
    d3.tsv('@Url.Action("HopperTSV")', prepData);
</script>
<ul id="Log" />