body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line, .line2 {
  fill: none;
  stroke-width: 1.5px;
}
.line3 {
    fill: steelblue;
}
.line {
    stroke: steelblue;
}
.line2 {
    stroke: maroon;
}
.label1, .label2 {
    stroke-width: .5px;
    font-size: large;
}
.label1, .axis1 {
    stroke: steelblue;
}
.label2, .axis2{
    stroke: maroon;
}

path {
  fill: steelblue;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}